<!DOCTYPE html>
<html lang="en" ng-app="jeenee">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>Jeenee:: Your buddy</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css"
        media="screen,projection">
    <script type="text/javascript" src="angular.min.js"></script>
    <!--<script type='text/javascript' src='bower_components/angular-charts/dist/angular-charts.min.js'></script>-->
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>

    <script type="text/javascript" src="js/component/motivate/index.js"></script>
    <script type="text/javascript" src="js/component/joke/index.js"></script>
    <script type="text/javascript" src="js/component/project/index.js"></script
  


</head>

<body style="background:
 linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    /* bottom, image */
    url('http://yourshot.nationalgeographic.com/u/ss/fQYSUbVfts-T7Ehj8_lPSALDyndvMSNW9paJ9-zKyhc9WOHwTz_HJZryVXd2M2GtzmDLXvK1-c1uttrzERsLor7QAKQvY_ymYYmA4e9UBAhHfXUjpHSxUf6FwVyN4HFS5gTSTcm4SjRQXZIr09gGQXROHZlN6gh2i2wdIh1hrD4DVcyiksfHJrwGj5F2RKpuB2B0/');">

    <nav style="background-color: rgba(255,255,255,0.1)" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo" style="">
                <i style="    color: white;
    text-shadow: 0px 1px 4px black;
    border: 2px solid wheat;
    padding: 0px 9px 5px 9px;
}" class="fa fa-superpowers" aria-hidden="true"></i>
                <span style="color:white; text-shadow: 1px 1px 3px black;">Jeenee</span></a>
            <!--<ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
        </ul>-->
            <!--<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>-->
        </div>
    </nav>
    <div class="row">
        <div class="col s10 m10">
            <div id="index-banner" class="" ng-controller="appController as $ctrl">
                <div class="section no-pad-bot">
                    <div class="container">
                        <div class="row">
                            <h3 class="header center grey-text text-lighten-2">
                                <span>
                        <span style="color: white;text-shadow: 1px 1px 2px black;"> Ask me </span>
                                <span id="typeitdiv" style="color: wheat;"></span>
                                </span>
                            </h3>
                        </div>


                        <nav style="background-color: whitesmoke; color:black;">
                            <div class="nav-wrapper">
                                <div class="input-field">
                                    <input id="search" type="search" ng-model="$ctrl.query" ng-click="$ctrl.getOutput()" ng-keydown="$event.which === 13 && $ctrl.getOutput()"
                                        required>
                                    <label for="search"><i class="material-icons" style="color: black;">search</i></label>
                                    <i class="material-icons">close</i>
                                </div>
                            </div>
                        </nav>

                        <!--<div class="row" id="message"></div>-->
                        <div class="row" style="margin-top: 30px;">
                            <div ng-show="$ctrl.isMotivateCard">
                                <motivate image={{$ctrl.imageURL}} author={{$ctrl.author}} thought={{$ctrl.thought}}></motivate>
                            </div>

                            <div ng-show="$ctrl.isJoke">
                                <joke text={{$ctrl.text}}></joke>
                            </div>

                            <div ng-show="$ctrl.isProjects">
                                <!--<project projects={{$ctrl.project}}></project>-->
                                <div class="col s12 m12 l12" ng-show="$ctrl.projects.length ==0">
                                    <div class="card">
                                        <div class="card-content ">
                                            Nothing found.
                                        </div>
                                    </div>
                                </div>

                                <div class="row" ng-show="$ctrl.projects.length >0">

                                    <div ng-repeat="project in $ctrl.projects">

                                        <div class="col s12 m12 l12">

                                            <div class="card">
                                                <div class="card-content">
                                                    <p> <span class="card-title">{{project.id}} - {{project.name}}</span> </p>
                                                    <p> <span><b>Comments</b> :{{project.comments}}</span></p>
                                                    <p> <span><b>Status:</b> {{project.status}}</span></p>
                                                    <p> <span><b>Owner:</b> {{project.owner}} </span></p>
                                                    <p> <span><b>Manager:</b> {{project.deliverymanager}}</span></p>
                                                    <p> <span><b>Case code:</b>{{project.casecode}}</span></p>
                                                </div>
                                                <div class="card-action">
                                                    <!--<i ng-class="{{template.doctype}}=='xls'? fa fa-file-excel-o:'' " aria-hidden="true" ng-if="{{template.doctype}}=='xls''"></i> -->
                                                    <!---<i class="fa fa-file-excel-o" aria-hidden="true" ng-if="{{template.doctype}}=='xls''"></i> -->
                                                    -<i class="fa fa-file-excel-o" aria-hidden="true" ng-if="{{template.doctype}}=='xls''"></i>                                                    -->-->
                                                    <a ng-href="{{project.refLink}}">Open</a>
                                                </div>
                                            </div>

                                        </div>



                                    </div>

                                </div>

                            </div>
                            <div class="row" style="display:table;" ng-show="$ctrl.isTemplatesCard">
                                <div class="col s12 m12 l12" style="display: table-cell;" ng-repeat="template in $ctrl.templates">
                                    <div class="card">
                                        <div class="card-content">
                                            <span class="card-title">{{template.category}}</span>
                                            <p>{{template.name}}</p>
                                        </div>
                                        <div class="card-action">

                                            <a ng-href="{{template.reflink}}">
                                                <i ng-class="template.doctype=='xls'?'fa fa-file-excel-o':''"></i>
                                                <i ng-class="template.doctype=='word'?'fa fa-file-word-o':''"></i>
                                                <i ng-class="template.doctype=='ppt'?'fa fa-file-powerpoint-o':''"></i> &nbsp;&nbsp;Open

                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div ng-show="$ctrl.isVinetes">
                                <div class="row">
                                    <div class="col s12 m12 l12" ng-repeat="vineteURL in $ctrl.vignetes">

                                         <div class="card">
                                            <div class="card-content">
                                                <img ng-src="{{vineteURL}}">
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col s10 m2" style="padding-top:117px;">

            <div class="card">
                <div class="card-content">
                    <span class="card-title"><b>Commit Today</b></span>
                    <p class="flow-text">
                    120
                    </p>
                </div>
            </div>



            <div class="card">
                <div class="card-content">
                    <span class="card-title"><b>Hours Logged</b></span>
                    <p class="flow-text">20 hrs</p>
                </div>
            </div>



            <div class="card">
                <div class="card-content">
                    <span class="card-title"><b>Misc</b></span>
                    <p>content</p>
                </div>
            </div>

        </div>
    </div>

    </div>


    <!--  Scripts-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.typeit/4.2.3/typeit.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>-->


    <script>

    $('#typeitdiv').typeIt({
        strings: ['who is john doe', 'i am sad', 'list of projects in organization', 'do something entertaining', 'show templates', 'what is john doe email', 'what is john doe projects'],
        speed: 200,
        autoStart: true,
        breakLines: false,
        loop: false
    }, 500);
</script>

    </body>

</html>